@model PlanoContaModel

@{
    ViewData["Title"] = "Cadastro de plano de contas";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="PlanoConta" asp-action="Cadastro" method="post">
    <div class="container">
        <div class="mb-3">
            <input type="hidden" id="txtId" class="form-control" asp-for="Id" />
            <label class="form-label" for="txtDescricao">Descrição</label>
            <input type="text" id="txtDescricao" class="form-control" asp-for="Descricao" />
        </div>
        <div class="mb-3">
            <label>@Html.RadioButtonFor(m => m.Tipo, "D") Despesa </label>
            <label>@Html.RadioButtonFor(m => m.Tipo, "R") Receita </label>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary btn-lg">Salvar</button>
            <button type="button" class="btn btn-secondary btn-lg" onclick="Voltar()">Cancelar</button>
        </div>

    </div>
</form>


<script>
    function Voltar () {
        console.log("Voltar: ");
        window.location.href = "/PlanoConta/Index";
    }
</script>
